
[submodule "submodules/addilyz/codex"]
	path = submodules/addilyz/codex
	url = https://github.com/addilyz/codex
[submodule "submodules/love2d-community/splashes"]
	path = submodules/love2d-community/splashes
	url = https://github.com/love2d-community/splashes
[submodule "submodules/EngineerSmith/nativefs"]
	path = submodules/EngineerSmith/nativefs
	url = https://github.com/EngineerSmith/nativefs
[submodule "submodules/addilyz/grafficks"]
	path = submodules/addilyz/grafficks
	url = https://github.com/addilyz/grafficks
